// Variables

$maincolor: black;
$contrastcolor: white;

// Mixins

@mixin white-text-black-bg {
    color: $contrastcolor;
    background-color: $maincolor;
}

@mixin black-text-white-bg {
    color: $maincolor;
    background-color: $contrastcolor;
}

* {
    box-sizing: border-box;
}

// Body 

body {
    margin: 0;
}

// Header
nav {
    @include white-text-black-bg;
    display: flex;
    justify-content: flex-start;
    a {
        @include white-text-black-bg;
        text-decoration: none;
        div {
            margin: 10px;
            font-size: large;
        }
    }
}